<!DOCTYPE html>
{% extends "index.html" %}
{% load staticfiles %}
{% block content %}
{% if latest_module_list %}


<script>
$(function () {
        $("#items1,#items2,#items3").sortable({
                connectWith: "#items1,#items2,#items3",
                start: function (event, ui) {
                        ui.item.toggleClass("highlight");
                },
                stop: function (event, ui) {
                        ui.item.toggleClass("highlight");
                }
        });
        $("#items1,#items2,#items3").disableSelection();
});

</script>

<ul id="items1" class="items">
    <li class="list"></li>
    <li class="list">Item 1-2</li>
    <li class="list">Item 1-3</li>
    <li class="list">Item 1-4</li>
    <li class="list">Item 1-5</li>
    <li class="list">Item 1-6</li>    
</ul>
<ul id="items2" class="items">
    <li class="list g">Item 2-1</li>
    <li class="list g">Item 2-2</li>
    <li class="list g">Item 2-3</li>
    <li class="list g">Item 2-4</li>
    <li class="list g">Item 2-5</li>
    <li class="list g">Item 2-6</li>    
</ul>
<ul id="items3" class="items">
    <li class="list o">Item 3-1</li>
    <li class="list o">Item 3-2</li>
    <li class="list o">Item 3-3</li>
    <li class="list o">Item 3-4</li>
    <li class="list o">Item 3-5</li>
    <li class="list o">Item 3-6</li>    
</ul>
{% endif %}
{% endblock %}